/* CSS RESET =========== */
* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select, optgroup {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  line-height: 1.6;
  color: rgb(198, 198, 198);
  font-size: 15px;
}
.bold {
  font-weight: bold;
  color: rgb(213, 213, 213);
}
button, select {
  text-transform: none;
}
::selection {
  color: black;
  background-color: rgb(173, 249, 231);
}

body {
  background-color: #000;
  color: rgba(255, 255, 255, 0.9);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 20px 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  text-align: center; /* Center the logo and menu */
}

nav {
  display: flex;
  flex-direction: column; /* Stack menu items vertically */
  justify-content: center; /* Center logo vertically */
  align-items: center; /* Center logo horizontally */
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  font-size: 40px;
  font-weight: bold;
  opacity: 0.95;
  margin-bottom: 20px; /* Add some space between logo and menu */
}

.logo span {
  color: cyan;
}

.menu a {
  color: rgb(48, 228, 228);
  font-size: 1.2rem;
  text-decoration: none;
  margin: 0 15px;
  opacity: 0.95;
  transition: opacity 0.3s ease;
}
.menu a:hover {
  text-decoration: underline;
}

.menu a:hover {
  opacity: 1;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.95);
  margin: 3px 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

h2, h3 {
  opacity: 0.95;
}
h2 {
  font-size: 1.7rem;
}
h3 {
  font-size: 1.4rem;
}
.innera {
  color: cyan;
}

footer {
  background-color: rgba(0, 0, 0, 0.05);
  text-align: center;
  padding: 20px 0;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-links a {
  color: rgb(48, 228, 228);
  text-decoration: none;
  opacity: 0.95;
  font-size: 1.2rem;
}
.footer-links a:hover {
  text-decoration: underline;
}

@media (max-width: 1000px) {
  .footer-links {
      flex-direction: column;
  }
}
