/* CSS RESET =========== */
@import url("https://fonts.googleapis.com/css2?family=Gabarito&display=swap");

* {
  box-sizing: border-box;
  font-family: "Gabarito", sans-serif; /* let's use sth better */
}
html {
  scroll-behavior: smooth;
  font-size: 17px;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select,
optgroup {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  /* overflow-wrap: break-word; */
  text-wrap: balance; /* new props */
}
p {
  line-height: 1.6;
  color: rgb(198, 198, 198);
  font-size: 16px;
}
.bold {
  font-weight: bold;
  color: rgb(202, 202, 202);
}
button,
select {
  text-transform: none;
}
::selection {
  color: black;
  background-color: rgb(173, 249, 231);
}

body {
  background-color: #000;
  color: rgba(255, 255, 255, 0.9);
  /* font-family: Ariel, sans-serif; */
  margin: 0;
  padding: 0;
}

header {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 20px 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  text-align: center;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;

  transition-duration: 0.2s;
}

.logo {
  font-size: 40px;
  font-weight: bold;
  opacity: 0.95;
  margin: 10px 0 30px 0;
}

.logo span {
  color: rgb(25, 245, 245);
}

.menu-items a {
  color: rgb(48, 228, 228);
  font-size: 1.2rem;
  text-decoration: none;
  opacity: 0.95;
  transition: opacity 0.3s ease;
}
.menu-items a:hover {
  text-decoration: underline;
}

.menu-items a:hover {
  opacity: 1;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 20px 50px 20px;
}

h2,
h3 {
  opacity: 0.95;
}
h2 {
  color: rgb(0, 208, 208);
  font-size: 1.7rem;
}
h3 {
  font-size: 1.4rem;
  margin: 30px 0 -5px 0;
}
.email-link {
  color: rgb(0, 238, 238);
}

@media screen and (max-width: 800px) {
  .container {
    padding: 0 15px 30px 15px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    padding: 0 15px 25px 15px;
  }
  .logo { 
    margin: 10px 0 20px 0;
  }
  header {
    padding: 20px 0 10px 0;
  }
}
