body {
  background-color: #000;
  color: rgba(255, 255, 255, 0.9);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 20px 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  opacity: 0.95;
}
.logo span {
  color: cyan;
}

.menu a {
  color: cyan;
  font-size: 1.2rem;
  text-decoration: none;
  margin: 0 15px;
  opacity: 0.95;
  transition: opacity 0.3s ease;
}

.menu a:hover {
  opacity: 1;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.95);
  margin: 3px 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

h2, h3 {
  opacity: 0.95;
}
h2 {
  font-size: 1.7rem;
}
h3 {
  font-size: 1.4rem;
}
.innera {
  color: cyan;
}

footer {
  background-color: rgba(0, 0, 0, 0.05);
  text-align: center;
  padding: 20px 0;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-links a {
  color: cyan;
  text-decoration: none;
  opacity: 0.95;
  font-size: 1.2rem;
}
.footer-links a:hover {
  text-decoration: underline;
}

@media (max-width: 800px) {
  .menu {
      display: none;
  }

  .hamburger {
      display: flex;
  }

  .footer-links {
      flex-direction: column;
  }
}
